.CustomCursor {
    width: 30px;
    height: 30px;
    position: absolute;
    visibility: hidden;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 0;
    -unity-background-image-tint-color: rgb(14, 14, 14);
    background-color: rgba(0, 0, 0, 0);
}

.DragCursor {
    background-image: url("project://database/Assets/Jorjouto/ACS/Editor/Sprites/ArrowsOutCardinal.png?fileID=2800000&guid=fc5830a159f5f2647a42274e2051ae13&type=3#ArrowsOutCardinal");
    visibility: visible;
}

.StretchCursor {
    background-image: url("project://database/Assets/Jorjouto/ACS/Editor/Sprites/ArrowsOutLineHorizontal.png?fileID=2800000&guid=1593d205fe09da146b4538b546a181f1&type=3#ArrowsOutLineHorizontal");
    visibility: visible;
}
