:root {
}

.OrientationButtons_Hidden {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.HideConfigurationButton_Hidden {
    background-image: url("project://database/Assets/Jorjouto/ACS/Editor/Sprites/ConfigOffIcon.png?fileID=2800000&guid=9ac6d462d1836314ea3a76a713ae5dd5&type=3#ConfigOffIcon");
}

.HideConfigurationButton_Visible {
    background-image: url("project://database/Assets/Jorjouto/ACS/Editor/Sprites/ConfigOnIcon.png?fileID=2800000&guid=f9f06513cd8dcf9428178fa57a84c9ec&type=3#ConfigOnIcon");
}
