:root {
}

#PreviewWindow > #WindowOptions > #ScreenBackgroundColors > #BackgroundColorSettings > #ScreenBackgroundSelector > .unity-color-field__input > #unity-color-container {
    border-top-width: 0.6px;
    border-right-width: 0.6px;
    border-bottom-width: 0.6px;
    border-left-width: 0.6px;
    border-left-color: rgba(0, 0, 0, 0.64);
    border-right-color: rgba(0, 0, 0, 0.64);
    border-top-color: rgba(0, 0, 0, 0.64);
    border-bottom-color: rgba(0, 0, 0, 0.64);
}

.action-blockData .unity-base-field__label {
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
}

.action-blockData .unity-base-field__input {
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    flex-shrink: 1;
    flex-direction: row;
}

.action-blockData .unity-base-field {
    padding-right: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 0;
    align-items: flex-start;
    align-self: flex-start;
    width: 800px;
    justify-content: flex-start;
    flex-direction: row;
}

.action-blockData {
    max-width: none;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    align-content: stretch;
    font-size: 14px;
    -unity-text-align: middle-left;
    letter-spacing: 2px;
    word-spacing: 6px;
}
